body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(241, 241, 241);
}

nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.company-name {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.options {
    flex: 1;
    display: flex;
    justify-content: right;
}

.options a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
}

.options a:hover {
    background-color: #555;
}

main {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes full height of the viewport */
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #ffffcc;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 1400px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Left panel columns */
.left-panel {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.column img {
    width: 32px;
    height: 32px;
    margin: 5px 0;
}

.column p {
    text-align: center;
    margin: 5px 0;
}

.column-number {
    font-family: 'Cooper Black', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 7px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    color: black;
}

#col1 {
    background-color: #9931B2;
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
}

#col2 {
    background-color: #169ED3;
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
}

#col3 {
    background-color: #83B601;
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
}

#col4 {
    background-color: #E69B04;
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
}

#col5 {
    background-color: #E33794;
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
}

/* Right panel with buttons and speaker */
.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 20px;
    background-color: #ffcc33;
    border-radius: 10px;
  
}

.number-buttons-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.color-button-section {
    display: flex;
    flex-direction: column;
}

.color-button-text {
    font-family: 'Cooper Black', sans-serif;
    font-size: 34px;
    margin-bottom: 10px;
}

.color-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: #ff5757;
    margin: 0 5px;
    cursor: pointer;
    box-shadow:
        inset 3px 3px 10px rgba(0, 0, 0, 0.3), 
        inset -3px -3px 10px rgba(255, 255, 255, 0.7); 
}

.color-button:hover {
    border: 2px solid black;
}

#button1 {
    background-color: #9931B2;
}

#button2 {
    background-color: #169ED3;
}

#button3 {
    background-color: #83B601;
}

#button4 {
    background-color: #E69B04;
}

#button5 {
    background-color: #E33794;
}

.main-image {
    margin: 10px 0 10px 200px;
    width: 200px;
}

/* Speaker section */
.option-buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.speaker {
    width: 100px;
    height: 100px;
    background-color: #666;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 150px;
}

.action-button-section {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.action-button {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    cursor: pointer;
    box-shadow:
        inset 3px 3px 10px rgba(0, 0, 0, 0.3), 
        inset -3px -3px 10px rgba(255, 255, 255, 0.7); 
}

.action-button-text {
    margin-top: 10px;
    font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
}

#surprise {
    background-color: #E41008;
}

#playback {
    background-color: #08B18D;
}

#reset {
    background-color: #56e403;
}

#surprise-text {
    font-weight: bold;
    color: #E41008;
}

#playback-text {
    font-weight: bold;
    color: #08B18D;
}

#reset-text {
    font-weight: bold;
    color: #347a0b;
}

.action-button:hover {
    border: 2px solid black;
}


/* Footer style */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
 
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Material symbols */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: white
}